/*
 *  footer settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

.flatmir-footer {
  color: $fh-black;
  background-color: $fh-gray-light;
  border-top: none;
  .container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.internal_links {
  flex-direction: row;
  justify-content: end;
  .nav-link {
    margin-left: 60px;
    a {
      color: $fh-black;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

#powered_by {
  background-color: $fh-blue;
  border-top: none;
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
