/*
 *  header settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

body {
  // height for fixed header
  padding-top: 10rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0,0,0,0.16);
}

#fhswf_logo_box {
  img {
    width: 220px;
    margin-bottom: 30px;
  }
}
#project_logo_box {
  float: none;
  margin-bottom: 4px;
}
#logo_mir {
  color: #666;
  font-size: 1.5rem;
  font-weight: 700;
  strong {
    color: $primary;
  }
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
  body {
    // no need for relative header
    padding-top: 0;
  }
  header {
    position: relative;
  }
  .navbar-toggler,
  .searchfield_box {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
