// **************************************************
//  Variables
// **************************************************

// colors from homepage and style guide

$fh-blue:       #39659F;
$fh-blue-light: #87b3dc;
$fh-black:      #222222;
$fh-gray-light: #EFF3F8;
$fh-red:        #dd4a9f;
$gray:          #999;
$gray-light:    #CCCCCC;

// keep old variables alive
// TODO: remove if removed from MIR
$brand-warning: $fh-red;

// bs settings
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1200px,
  xl: 1500px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1140px,
  xl: 1440px
);

$primary: $fh-blue;

$link-color: $primary;
$link-hover-color: darken($primary, 20%);

$dropdown-padding-y: 1rem;
$dropdown-border-radius: 25px;
$dropdown-link-color: $fh-black;
$dropdown-link-hover-color: $fh-blue;
$dropdown-link-hover-bg: transparent;
$dropdown-border-color: $gray-light;
$dropdown-font-size: 1rem;
$dropdown-divider-bg: $gray-light;

$font-family-sans-serif: "Open Sans",Helvetica,Verdana,Arial,sans-serif;
$text-color: $fh-black;
$font-size-base: 1rem;
$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.125rem;

$pagination-color: white;
$pagination-bg: $primary;
$pagination-border-color: $primary;
$pagination-hover-color: white;
$pagination-hover-bg: darken($pagination-bg, 10%);
$pagination-hover-border-color: darken($pagination-bg, 10%);
$pagination-active-color: white;
$pagination-active-bg: darken($pagination-bg, 10%);
$pagination-active-border-color: darken($pagination-bg, 10%);
$pagination-disabled-color: $gray;
$pagination-disabled-bg: $gray-light;
$pagination-disabled-border-color: $gray-light;
